<html>  
   <body>  
        <form action = "http://localhost:5000/addpost" method = "POST" id= "asd">  
            <table>  
            <tr><td>Title</td>  
            <td><input type ="text" name ="title"></td></tr>
            <tr><td>SubTitle</td>
            <td><input type ="text" name ="stitle"></td></tr>
            <tr><td>Author</td>
            <td><input type ="text" name ="author"></td></tr>  
            </table>  
            <textarea type="text" name = "content"></textarea>
            <br>
            <input type = "submit">
        </form>  
   </body>  
</html>  