<html>  
   <body>  
        <form action = "http://localhost:5000/saveedit" method = "POST" >  
            <table>  
            <tr><td>ID</td>  
            <td><input type ="text" name ="id" value="{{ post.id }}"></td></tr>
            <tr><td>Title</td>  
            <td><input type ="text" name ="title" value="{{ post.title }}"></td></tr>
            <tr><td>SubTitle</td>
            <td><input type ="text" name ="stitle" value="{{ post.subtitle }}"></td></tr>
            <tr><td>Author</td>
            <td><input type ="text" name ="author" value="{{ post.author }} "></td></tr>  
            </table>  
            <textarea type="text" name = "content">{{post.content}}</textarea>
            <br>
            <input type = "submit">
        </form>  
   </body>  
</html>  